In [ ]:
var_names1=['PEMLR', 'PESEX', 'PRDTOCC1', 'PRPERTYP', 'PRTAGE', 'PTDTRACE', 'PWCMPWGT']
var_names2=['PRTAGE','PWCMPWGT','PEHRUSL1', 'PEHRUSL2', 'PEHRACT1', 'PEHRACT2', 'PEERNHRO', 'PTERNWA']
var_names3=['PRTAGE','PWCMPWGT','PWORWGT', 'PEEDUCA', 'PRNMCHLD', 'PEMARITL', 'PRDTIND1', 'PRMJIND1']
var_names4=['PWCMPWGT', 'PRDTCOW1', 'HRMIS', 'PEIO1COW', 'PEMJOT', 'PEHRFTPT', 'HRINTSTA']
var_names_all=var_names1+var_names2+var_names3+var_names4
var_names_all=list(set(var_names_all))
print(len(var_names_all))

25

In [ ]:
from google.colab import drive
import pickle
import os, re, time
import pandas as pd
drive.mount('/content/drive/')
var_names=var_names_all
df_analysis_2003 = pickle.load(open( "/content/drive/My Drive/BOC_V2/df_analysis_2003_all_V4", "rb" ))
to_csvFile='/content/drive/My Drive/BOC_V2/df_data_2021_ALL.csv'

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
len(df_analysis_2003['name'].unique())

25

In [ ]:
calendarMap={'jan':'01','feb':'02','mar':'03','apr':'04','may':'05','jun':'06','jul':'07','aug':'08','sep':'09','oct':'10','nov':'11','dec':'12'}
from_path='/content/drive/My Drive/BOC_V2/2021_dat/'
files = os.listdir(from_path)
time_start=time.time()

In [ ]:
df_analysis_2003.head(5)

   year  month_start  month_end      name  location_start  location_end
0  2003            1         12  HRINTSTA              56            58
1  2003            1         12     HRMIS              62            64
2  2003            1         12   PEEDUCA             136           138
3  2003            1         12  PEERNHRO             524           526
4  2003            1         12  PEHRACT1             242           244

In [ ]:
df_data=pd.DataFrame()
for fileName in files:
  #fileName='jan21pub.dat'
  rawData_file=from_path+fileName
  s=re.findall('(\D+)(\d*)pub[.]dat',fileName)[0]
  month=int(calendarMap[s[0].lower()])
  year=int('20'+s[1])

  df_sub=df_analysis_2003.loc[(df_analysis_2003['year']==year) & (month>=df_analysis_2003['month_start'])&(month<=df_analysis_2003['month_end'])]
  df_sub.reset_index(drop=True,inplace=True)

  # dictionary of variable name: [start, end, and length + 's']
  d = {row['name']: [row['location_start'], row['location_end']] for index, row in df_sub.iterrows()}
  df_data_sub=pd.DataFrame()
  names=locals()
  # open file (read as binary) and read lines into "raw_data"
  raw_data = open(rawData_file, 'r').readlines()
  for name in var_names:
    names[name]=[row[d[name][0]:d[name][1]] for row in raw_data]
    df_data_sub[name]=names[name]

  df_data_sub.insert(0,'ID',[int(str(year)+str(f"{month:02}")+str(num)) for num in range(1, len(df_data_sub)+1)])
  df_data_sub.insert(0,'CPSDATE',[str(year)+'-'+str(f"{month:02}")]*len(df_data_sub)) #2021-03
  df_data=pd.concat([df_data_sub, df_data])



df_data

        CPSDATE            ID PTDTRACE  ... PEHRUSL2 PRDTCOW1 PRNMCHLD
0       2021-07       2021071        2  ...       -1        6        0
1       2021-07       2021072        6  ...       -1        6        0
2       2021-07       2021073        1  ...       -1        6        0
3       2021-07       2021074        1  ...       -1        6        0
4       2021-07       2021075       -1  ...       -1       -1       -1
...         ...           ...      ...  ...      ...      ...      ...
133548  2021-01  202101133549       -1  ...       -1       -1       -1
133549  2021-01  202101133550        1  ...        6        9        3
133550  2021-01  202101133551        6  ...       -1       -1        0
133551  2021-01  202101133552        1  ...       -1       -1        0
133552  2021-01  202101133553        1  ...       -1       -1        0

[921481 rows x 27 columns]

In [ ]:
print(len(files))

7

In [ ]:
files

['jan21pub.dat',
 'feb21pub.dat',
 'mar21pub.dat',
 'apr21pub.dat',
 'may21pub.dat',
 'jun21pub.dat',
 'jul21pub.dat']

In [ ]:
df_data.to_csv(to_csvFile, encoding='utf-8-sig',index=False)

In [ ]:
for col in df_data.columns:
  print(f'{col}: {df_data[col].dtype}')

CPSDATE: object
ID: int64
PTDTRACE: int64
PEIO1COW: int64
PEHRUSL1: int64
PRDTOCC1: int64
PWORWGT: int64
PRPERTYP: int64
PEMARITL: int64
PTERNWA: int64
PEEDUCA: int64
PEMLR: int64
PRMJIND1: int64
PEHRFTPT: int64
HRMIS: int64
PWCMPWGT: int64
PRTAGE: int64
PRDTIND1: int64
PESEX: int64
PEHRACT1: int64
HRINTSTA: int64
PEHRACT2: int64
PEMJOT: int64
PEERNHRO: int64
PEHRUSL2: int64
PRDTCOW1: int64
PRNMCHLD: int64

In [ ]:
time_end=time.time()
print(f'total time: {round((time_end-time_start)/60,2)}')

total time: 0.91

In [ ]:
print(df_data.columns)

Index(['CPSDATE', 'ID', 'PTDTRACE', 'PEIO1COW', 'PEHRUSL1', 'PRDTOCC1',
       'PWORWGT', 'PRPERTYP', 'PEMARITL', 'PTERNWA', 'PEEDUCA', 'PEMLR',
       'PRMJIND1', 'PEHRFTPT', 'HRMIS', 'PWCMPWGT', 'PRTAGE', 'PRDTIND1',
       'PESEX', 'PEHRACT1', 'HRINTSTA', 'PEHRACT2', 'PEMJOT', 'PEERNHRO',
       'PEHRUSL2', 'PRDTCOW1', 'PRNMCHLD'],
      dtype='object')